@tailwind base;
@tailwind components;
@tailwind utilities;

/* ELEMENT STYLES -------------------- */

body {
  font-family: arial;
}

body {
  @apply bg-gray-100

}

header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063fa;
  border-bottom: solid 2px #d4caff;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* FORMS */

form {
  display: flex;
  background-color: #8063fa;
}

input[type="text"] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 15px 10px 15px 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #5b45b9;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #c7bcf8;
  letter-spacing: 2px;
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #c7bcf8;
  letter-spacing: 2px;
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 10px;
  background-color: #44338d;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type="submit"] {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

button.shuffle {
  display: block;
  font-size: 0.6em;
  margin: 15px 15px 15px 0;
  padding: 15px 30px;
  background-color: #44338d;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* ICONS */

.shuffle-icon {
  height: 32px;
  width: 32px;
}

svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
  fill: #f0f0f0;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}

/* COMPONENT STYLES -------------------- */

.board { @apply md:w-1/2 container mx-auto shadow-xl mt-10 uppercase max-w-[95%] md:max-w-[50%] }

.developer {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #eeeeee;
  letter-spacing: 2px;
}

.developer:last-of-type {
  border-bottom-color: #d4caff;
}

.developer-name:hover .remove-developer {
  visibility: visible;
}

.developer-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.remove-developer {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #ef5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

.stats {
  display: flex;
}

.stats div {
  margin: 5px;
}
